.app {    /* format for entire app function */
  width: auto;
  height: auto;
  font-size: 20px;
  text-align: center;
  color: darkblue;
  margin: 25px;
  border-radius: 25%;
  border: solid, 3px, darkblue;
}

.skill-list{  /* format for only the list of skills */
  margin-top: 50px;
}