.app {    /* format for entire app function */
  width: 600px;
  height: auto;
  font-size: 20px;
  color: darkblue;
  margin: 25px;
  border: solid, 3px, darkblue;
  margin: auto;
  align-self: center;
}

h3{
  text-decoration: underline;
  text-align: center;
}

div{
  margin: 5px;
}